<% include partials/header %>

    <div class="header fullscreen">
        <div class="container">
            <h1 class="logo">Checking Page</h1>
            <!-- <a href="javascript:auth()" class="btn">Authenticate</a>
            <a href="javascript:auth()" class="btn">Clear Cookies</a>
            <a href="javascript:create()" class="btn">Create New Todo</a>
            <a href="javascript:list()" class="btn">List All</a> -->
        </div>
    </div>

    <script src="/js/api.js"></script>

    <script>

        const uri = 'http://todoapp1222.herokuapp.com';
        var token = "";



        function login(email, password) {
            var api = new API(uri + '/users/login', "POST");
            api.xhr.withCredentials = true;
            api.setStatus(200, (data, x) => {
                data = JSON.parse(data);
                console.log(data);
                console.log(x.getAllResponseHeaders())
                token = x.getResponseHeader('X-Auth');
            })
            .setStatus(401, (data) => {
                data = JSON.parse(data);
                console.error(data);
            })
            .json({email, password});
        }

        function logout() { token = ''; }

        function createTodo(text) {
            new API(uri + '/todos')
            .setStatus(200, (data) => console.log(data) )
            .json({text});
        }

        function listTodos() {

        }

    </script>


<% include partials/footer %>
