<% include partials/header %>

<div class="header fullscreen">
    <div class="container">

        <div class="hwhitespace-2"></div>

        <h1 class="logo">Sorry!</h1>

        <h2 class="center" style="color: #e74c3c;"><%= message %></h2>

        <div class="hwhitespace"></div>

        <a href="/" class="btn center" style="display: block;"><i class="ion-ios-home"></i> Home Page</a>



    </div>


</div>

<div class="toast-container"></div>

<script src="/js/components/toast.js"></script>
<script src="/js/api.js"></script>

<script>
    var form = document.getElementById('form');

    form.addEventListener('submit', function (e) {
        e.preventDefault();
        new API('/userapi/login', "POST")
        .request({email: email.value, password: password.value})
        .then((x) => {
            var data = JSON.parse(x.responseText);
            new Toast({body: `Welcome ${data.name}`, timeout: 5000, type: 'success'}).show();
            location.href = "/";
        }, (e) => {
            new Toast({body: "Email or Password was wrong!", timeout: 2000, type: 'danger'}).show();
        });
    })
</script>

<% include partials/footer %>
