<% include partials/header %>

<div class="header">
    <div class="container">
        <div class="group float-right">
            <a href="#" class="btn">Settings</a>
            <a href="#" class="btn">Logout</a>
        </div>
        <h1 class="username clearfix">User Name</h1>
        <input type="text" placeholder="write something todo here..." onkeydown="settodo();">
    </div>
</div>

<div class="todos-container">

    <div class="todo complete">
        <input type="checkbox" checked>
        <input type="text" placeholder="write todo..." value="Play">
        <a class="delete">Delete</a>
    </div>

    <div class="todo">
        <input type="checkbox">
        <input type="text" placeholder="write todo..." value="Games">
        <a class="delete">Delete</a>
    </div>

</div>

<% include partials/footer %>
