<% include partials/header %>

<div class="header fullscreen">
    <div class="container">

        <h1 class="logo">TODO APP</h1>


        <form class="form" id="form">
            <div class="section" tabindex="0">
                <i class="ion-md-person" style="color: #f2f2f2;"></i><input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="section" tabindex="1">
                <i class="ion-md-key" style="color: #f2f2f2;"></i><input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            <br><br>
            <div class="float-right">
                <button type="submit" class="btn"><i class="ion-md-log-in"></i> Login</button>
                <a href="/register" class="btn"><i class="ion-md-person-add"></i> New Account</a>
            </div>
        </form>


    </div>


</div>

<div class="toast-container"></div>

<script src="/js/components/toast.js"></script>
<script src="/js/api.js"></script>

<script>
    var form = document.getElementById('form');

    form.addEventListener('submit', function (e) {
        e.preventDefault();

        new API('/users/login', "POST")
        .setStatus(200, (data) => {
            data = JSON.parse(data);
            new Toast({body: `Welcome ${data.name}`, timeout: 5000, type: 'success'}).show();
            location.href = "/";
        })
        .setStatus(401, (data) => {
            new Toast({body: "Email or Password was wrong!", timeout: 2000, type: 'danger'}).show();
        })
        .json({email: email.value, password: password.value});
    })

</script>

<% include partials/footer %>
